@import url("reset.css");
.wrapper {
	min-width: 100%;
	overflow: hidden;
}
.car {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 200px;
}
.car__base-front {
	width: 55px;
	height: 72px;
	background-color: #D40000;
	border-radius: 100% 0% 36% 64% / 77% 100% 0% 23%;
	position: absolute;
	left: -48px;
	top: 13px;
}
.base-front{
	position: relative;
	overflow: hidden;
}
.base-front__headlight{
	position: absolute;
	top: -32px;
	left: -11px;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 1;
	border: 1px solid #000;
}
.base-front__dimension{
	position: absolute;
	width: 31px;
	height: 10px;
	background-color: #fff;
	border-radius: 18% 82% 39% 61% / 100% 0% 100% 0% ;
	z-index: 1;
	top: 47px;
	left: -5px;
	border: 1px solid #000;
}
.base-front__dimension::after{
	position: absolute;
	content: '';
	width: 20px;
	height: 5px;
	border-radius: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	top: 12px;
	left: -2px;
}
.car__turn-signaler{
	position: absolute;
	width: 15px;
	height: 5px;
	border-radius: 25% 75% 25% 75% / 100% 0% 100% 0% ;
	z-index: 2;
	background-color: #fff;
	top: 36px;
	left: 9px;
	border: 1px solid #000;
}
.car__turn-signaler::before{
	display: block;
	position: absolute;
	left: -27px;
	top: -1px;
	content: '';
	width: 26px;
	height: 1px;
	transform: rotate(10deg);
	background-color: rgba(0, 0, 0, 0.365);
	border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ; 
}
.car__base {
	position: relative;
	width: 395px;
	height: 85px;
	background-color: #D40000;
	border-radius: 100% 0% 100% 0% / 18% 87% 13% 82% ;
}
.car__base::before{
	position: absolute;
	content: '';
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	background-color: #000;
	width: 31px;
	height: 7px;
	bottom: -7px;
	left: -9px;
}
.car__base-back {
	position: absolute;
	width: 50px;
	height: 76px;
	border-radius: 0% 100% 100% 0% / 100% 77% 23% 0% ;
	background-color: #D40000;
	right: -44px;
	top: 0px;
}
.base-back{
	overflow: hidden;
}
.base-back__break-signaler{
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: absolute;
	background-color: #FF2A2A;
	border-radius: 81% 19% 57% 43% / 35% 100% 0% 65% ;
	height: 18px;
	width: 50px;
	top: 10px;
}
.base-back__break-signaler::after{
	content: '';
	position: absolute;
	clip-path: polygon(100% 0, 0 50%, 100% 100%);
	background-color: rgba(0, 0, 0, 0.5);
	width: 49px;
	height: 3px;
	top: 50px;
}
.car__line-1{
	display: block;
	position: relative;
	left: 338px;
	top: -55px;
	content: '';
	width: 62px;
	height: 1px;
	transform: rotate(-9deg);
	background-color: rgba(0, 0, 0, 0.365);
	border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ; 
	z-index: 2;
}
.base-back__break-signaler::before{
	content: '';
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.7);
	background-color: #fff;
	border-radius: 81% 19% 41% 59% / 48% 100% 0% 52% ;
	height: 10px;
	width: 36px;
	left: 5px;
}
.car__wheel{
	position: absolute;
	z-index: 1;
	width: 85px;
	height: 85px;
	background-color: #000;
	border-radius: 50%;
	bottom: -20px;
	/* border: 2px solid aquamarine; */
	border: 2px solid #818686;
}
.wheel-car_left {
	left: 60px;
	transform: translate(-50%, 0);
}
.wheel-car_right {
	right: 71px;
	transform: translate(50%, 0);
}
.wheel-car{
	position: relative;
}
.wheel-car__disk{
	position: absolute;
	z-index: 2;
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background-color: #000;
	border: 3px solid #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate( 0deg);
	transition: transform 0.8s;
}
.disk{
	position: relative;
}
ul li{
	position: absolute;
}
ul li:nth-child(odd){
	width: 5px;
	height: 13px;
	border-radius: 50% 50% 50% 50% / 16% 16% 84% 84%;
	background-color: #fff;
}
ul li:nth-child(even){
	width: 13px;
	height: 10px;
	background-color: #fff;
	border-radius: 50% 50% 50% 50% / 32% 31% 69% 68% ;
}
ul li:nth-child(1){
	top: 5px;
	left: 50%;
	transform: translate(-50%, 0);
}
ul li:nth-child(2){
	top: 15%;
	left: 71%;
	transform: translate(-50%, 0) rotate(43deg);
}
ul li:nth-child(3){
	top: 41.5%;
	left: 77%;
	transform: translate(0, -50%) rotate(74deg);
}
ul li:nth-child(4){
	bottom: 20px;
	left: 83%;
	transform:translate(-50%, 0) rotate(116deg);
}
ul li:nth-child(5){
	top: 73%;
	left: 67%;
	transform: translate(0, -50%) rotate(145deg);
}
ul li:nth-child(6){
	bottom: 2px;
	left: 42%;
	transform: translate(0, -50%) rotate(180deg);
}
ul li:nth-child(7){
	top: 73%;
	left: 31%;
	transform: translate(0, -50%) rotate(-145deg);
}
ul li:nth-child(8){
	bottom: 20px;
	left: 20%;
	transform: translate(-50%, 0) rotate(-116deg);
}
ul li:nth-child(9){
	top: 41.5%;
	right: 73%;
	transform: translate(0, -50%) rotate(-74deg);
}
ul li:nth-child(10){
	top: 18%;
	left: 31%;
	transform: translate(-50%, 0) rotate(-43deg);
}
.car__handle{
	position: absolute;
	width: 28px;
	height: 11px;
	background-color: #000;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	transform: rotate(-15deg);
	left: 230px;
	top: 15px;
}
.car__handle::before{
	content: '';
	position: absolute;
	background: url(../img/handle-before.svg) no-repeat;
	width: 161.5px;
	height: 221.5px;
	transform: rotate(195deg) scale(-1.3);
	left: -122px;
	top: 12px;
}
.car__handle::after{
	content: '';
	position: absolute;
	background: url(../img/handle-after.svg) no-repeat;
	width: 161.5px;
	height: 221.5px;
	transform: rotate(195deg) scale(-1.35);
	left: -29px;
	top: 39px;
}
.car__upper {
	width: 106px;
	height: 17px;
	transform: rotate(-38deg);
	background-color: #D40000;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	position: absolute;
	top: -20px;
	left: 86px;
	overflow: hidden;
}
.car__upper::before{
	content: '';
	width: 106px;
	height: 9px;
	background-color: #fff;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	position: absolute;
	top: -2px;
	left: 18px;
	border: 1px solid #000;
}
.car__mirror {
	position: absolute;
	width: 24px;
	height: 15px;
	background-color: #000;
	border-radius: 75% 25% 89% 11% / 73% 78% 22% 27%  ;
	top: -11px;
	transform: rotate(5deg);
	z-index: 3;
	left: 143px;
}
.car__seat{
	position: absolute;
	width: 17px;
	height: 31px;
	background-color: #000;
	border-radius: 9px 9px 0 0;
	top: -29px;
	left: 241px;
}
.car__trunk {
	width: 146px;
	height: 20px;
	position: relative;
	background-color: #D40000;
	clip-path: polygon(37% 0, 69% 35%, 100% 100%, 0 100%, 20% 49%);
	border-radius: 48px;
	top: -89px;
	left: 262px;
	overflow: hidden;
}
.car__trunk::before{
	position: absolute;
	content: '';
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #000;
	top: -135px;
	left: -35px;
}
.car__line-2{
	position: relative;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 85% 15% 89% 11% / 100% 100% 0% 0% ;
	width: 170px;
	height: 7px;
	top: -31px;
	left: 107px;
}
.car__line-3{
	position: relative;
	clip-path: polygon(53% 0, 83% 12%, 100% 49%, 88% 100%, 63% 53%, 31% 49%, 4% 56%, 0 20%, 25% 0);
	background-color: rgba(255, 255, 255, 0.45);
	width: 273px;
	height: 25px;
	top: -83px;
	left: 48px;
	border-radius: 50px;
}
.car__line-4{
	position: relative;
	width: 139px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	top: -124px;
	left: 273px;
	transform: rotate(2.5deg);
	border-radius: 90% 10% 100% 0% / 44% 100% 0% 56%; 
}