@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #6C757D;
}
[class*="container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}
.page {
	padding: 20px 0px;
}
.header{
	padding: 20px 0px;
}
.header__logo img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.page__container-inner {
	max-width: 816px;
	margin: 0 auto;
}
.page__title {
	margin: 0px 0px 40px 0px;
}
.title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
}
.page__text p{
	font-weight: 300;
	line-height: 1.78;
	margin: 0px 0px 40px 0px;
}
img{
	border-radius: 5px;
}
.page__image {
	margin: 80px 0px;
}
.page__image img{
	max-width: 100%;
	border-radius: 0px;
}
.page__images {
	font-size: 0;
	margin: 80px 0px;
}
.page__images img{
	max-width: 50%;
}
.image-1{
	padding-right: 15px;
}
.image-2{
	padding-left: 15px;
}
.title-1{
	max-width: 400px;
}
.title-2{
	max-width: 605px;
}
.page__image img{
	width: 100%;
	margin-bottom: 100px;
}
.title-3 {
	margin: 100px 0px;
}
.page__images-gallery{
	font-size: 0;
	margin-top: 80px;
	margin-bottom: 30px;
}
.page__images-gallery img{
	max-width: 50%;
}
.page__points {
	text-align: center;
	font-size: 0;
	margin-bottom: 64px;
}
.point {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid #C4C4C4;
	margin-right: 10px;
}
.active {
	background-color: #212529;
	border: 0px
}
.footer {
	padding: 40px 0px;
	background-color: #6C757D;
	color: #ffffff;
}
.footer__text {
	font-size: 20px;
}
.footer__text a{
	color: lightblue;
	text-decoration: underline;
}
.practice{
	margin-bottom: 50px;
}
.practice__buttons {
	display: inline-block;
	font-size: 0;
	margin-bottom: 35px;
}
button{
	margin-right: 50px;
	padding: 40px;
}
.btn-1{
	border-radius: 30px;
	background-color: #e0e0e0;
	box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.btn-2{
	background-color: #e0e0e0;
	border-radius: 30px;
	box-shadow: inset 10px 10px 20px #c7c7c7, inset -10px -10px 20px #f9f9f9;
}
button img{
	width: 50px;
}
.practice__text p{
	margin-bottom: 15px;
	opacity: 0.5;
}
.p-1{
	padding: 20px 0px;
	border-top: 2px dashed #c7c7c7;
	border-bottom: 2px dashed #c7c7c7;
}
.p-2{
	outline: 3px dotted #6C757D;
	line-height: 1.5;
}